@use "../abstracts/mixins";

.primary-btn{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 17px;
    @include mixins.customText(var(--fz-100),400,var(--lh-100),2,#fff);
    text-align: center;
    border: 1px solid transparent;
    background-color: var(--clr-dark-200);
    @include mixins.defaultButtonHover(var(--clr-success-100),#fff,1px solid transparent);
}

.hero__link{
    padding: 17px 25px 17px 80px;

    &::before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 48px;
        max-width: 48px;
        margin-right: 40px;
        background-color: rgba(0, 0, 0,0.1);
        background-image: url("./images/btn.svg");
        background-repeat: no-repeat;
        background-position: center center;
    }
}

.form-btn{
    padding: 17px 24px;
    text-align: center;
}

.secondary-btn{
    padding: 17px;
    text-align: center;
    border: 1px solid var(--clr-dark-200);
    color: var(--clr-dark-200);
    @include mixins.defaultButtonHover(var(--clr-dark-200),#fff,1px solid var(--clr-dark-200));
}