$font-sizes:(
    100:12px,
    200:16px,
    300:13px,
    400:16px,
    500:42px,
    600:50px
);

$font-weights:(
    100:700
);

$line-heights:(
    100:14px,
    200:30px,
    300:42px,
    400:50px
);

$fonts:(
    main:"Public Sans",
    secondary:"Ibarra Real Nova",
)