<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="../scss/main.scss"> -->
    <script src="../js/nav.js" defer></script>
</head>

<body>
    <header class="site-header">
        <div class="container">
            <div class="site-header__wrapper">
                <a class="site-logo" href="#">
                    <img width="60" height="32" class="site-logo__img" src="../scss/images/logo_primary.svg"
                        alt="Minimalist Logo">
                </a>
                <div class="hamburger">
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                </div>

                <nav class="navigation" id="primaryNavigation">
                    <ul class="navigation__list">
                        <li class="navigation__item">
                            <a class="navigation__link navigation__link--active fz-100 lh-100 clr-dark-200" href="#">
                                HOME
                            </a>
                        </li>
                        <li class="navigation__item">
                            <a class="navigation__link fz-100 lh-100 clr-dark-200" href="./portfolio.html">
                                PORTFOLIO
                            </a>
                        </li>
                        <li class="navigation__item">
                            <a class="navigation__link fz-100 lh-100 clr-dark-200" href="./contact.html">
                                CONTACT ME
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <main class="site-main">
        <!-- hero section start -->
        <section class="hero">
            <div class="container">
                <div class="hero__wrapper">
                    <div class="hero__bg"></div>
                    <div class="hero__inner">
                        <h1 class="hero__title fw-100 fz-500 lh-300 clr-dark-200 ff-secondary"
                            aria-label="Hey you, I’m Alex Spencer and I love building beautiful websites">
                            Hey, I’m Alex Spencer and I love building beautiful websites
                        </h1>
                        <a class="hero__link primary-btn" href="#aboutSection">
                            ABOUT ME
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <!-- hero section end -->

        <!-- about section start -->
        <section class="about" id="aboutSection">
            <div class="container">
                <div class="about__wrapper">
                    <picture class="about__picture">
                        <!-- webp -->
                        <source type="image/webp" media="(min-width:992px)"
                            srcset="../scss/images/person.webp 1x, ../scss/images/person@2x.webp 2x">
                        <source type="image/webp" media="(min-width:768px)"
                            srcset="../scss/images/person-tablet.webp 1x, ../scss/images/person-tablet@2x.webp 2x">
                        <source type="image/webp"
                            srcset="../scss/images/person-mobile.webp 1x, ../scss/images/person-mobile@2x.webp 2x">
                        <!-- jpeg -->
                        <source type="image/jpeg" media="(min-width:992px)"
                            srcset="../scss/images/person.jpg 1x, ../scss/images/person.jpg 2x">
                        <source type="image/jpeg" media="(min-width:768px)"
                            srcset="../scss/images/person-tablet.jpg 1x, ../scss/images/person-tablet@2x.jpg 2x">


                        <img class="about__img" src="../scss/images/person.jpg"
                            srcset="../scss/images/person.jpg 1x, ../scss/images/person@2x.jpg 2x" alt="">
                    </picture>

                    <div class="about__inner">
                        <h2 class="about__title fw-100 fz-500 lh-300 clr-dark-200 ff-secondary">About Me</h2>

                        <p class="about__text fz-400 lh-200 clr-dark-200">
                            I’m a junior front-end developer looking for a new role in an exciting company. I focus on
                            writing accessible HTML, using modern CSS practices and writing clean JavaScript. When
                            writing JavaScript code, I mostly use React, but I can adapt to whatever tools are required.
                            I’m based in London, UK, but I’m happy working remotely and have experience in remote teams.
                            When I’m not coding, you’ll find me outdoors. I love being out in nature whether that’s
                            going for a walk, run or cycling. I’d love you to check out my work.
                        </p>

                        <a class="about__link secondary-btn" href="./portfolio.html">
                            GO TO PORTFOLIO
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <!-- about section end -->

        <!-- article start -->
        <article class="site-article articles">
            <div class="container">
                <div class="articles__wrapper">
                    <h2 class="articles__title fw-200 fz-600 lh-300 clr-dark-200 ff-secondary">Interested in doing a
                        project together?</h2>
                    <span class="site-article__line line"></span>
                    <a class="site-article__link secondary-btn" href="./contact.html">
                        CONTACT ME
                    </a>
                </div>
            </div>
        </article>
        <!-- article end -->
    </main>

    <!-- footer start -->
    <footer class="site-footer">
        <div class="container">
            <div class="site-footer__wrapper">
                <a class="site-logo" href="./index.html">
                    <img width="60" height="32" class="site-logo__img" src="../scss/images/logo_light.svg"
                        alt="Minimalist Logo">
                </a>
                <ul class="site-footer__list">
                    <li class="site-footer__item">
                        <a class="site-footer__link" href="#">
                            HOME
                        </a>
                    </li>
                    <li class="site-footer__item">
                        <a class="site-footer__link" href="./portfolio.html">
                            PORTFOLIO
                        </a>
                    </li>
                    <li class="site-footer__item">
                        <a class="site-footer__link" href="./contact.html">
                            CONTACT ME
                        </a>
                    </li>
                </ul>
                <ul class="site-footer__social-list social-list">
                    <li class="social-list__item">
                        <a class="social-list__link fz-100 lh-100" href="#" target="blank">
                            <img class="social-list__img" width="25" height="24" src="../scss/images/github.svg" alt="">
                        </a>
                    </li>
                    <li class="social-list__item">
                        <a class="social-list__link fz-100 lh-100" href="#" target="blank">
                            <img class="social-list__img" width="25" height="24" src="../scss/images/twitter.svg"
                                alt="">
                        </a>
                    </li>
                    <li class="social-list__item">
                        <a class="social-list__link fz-100 lh-100" href="#" target="blank">
                            <img class="social-list__img" width="25" height="24" src="../scss/images/linkedin.svg"
                                alt="">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
    <!-- footer end -->
</body>

</html>