@use "../abstracts/mixins";

.articles__wrapper {
  display: grid;
  grid-row-gap: 40px;
  place-items: center;
  text-align: center;
  padding-bottom: 80px;
}

.site-article__line {
  display: none;
}

@include mixins.mq(tablet) {
  .articles__wrapper {
    grid-template-columns: 3fr 1fr 1fr;
    grid-column-gap: 32px;
  }

  .site-article__line {
    display: block;
    width: 100%;
    background: var(--clr-dark-200);
    opacity: 0.15;
  }

  .site-article__link{
    width: max-content;
  }
}
